.container {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bubble {
    position: relative;
    height: 50px;
    width: 200px;
    margin-left: 15px;
    padding: 15px;
    background-color: darkgreen;
    border-radius: 20px 20px 20px 0;
}

.bubble::before {
    content: "";
    position: absolute;

    background-color: transparent;
    left: -50px;
    bottom: 0;
    height: 25px;
    width: 50px;
    border-bottom-right-radius: 20px;
    box-shadow: 20px 0 0 0 darkgreen;
}
.name {
    color: greenyellow;
    font-weight: bold;
    text-align: left;
}
.message {
    color: white;
    text-align: left;
    word-wrap: break-word;
}
.time {
    color: limegreen;
    font-size: small;
    text-align: right;
}

