.active {
    background: rgba(130, 255, 201, 0.4);
}

.affair {
    display: flex;
}

.item {
    margin: 10px 32px;
    width: 80px;
}

.high {
    color: #6AFD3C;
}

.middle {
    color: #F4FA28;
}

.low {
    color: #FE1100;
}
