.superInput {
    border: none;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}