.input:focus {
    outline: none;
    border: 2px solid limegreen;
}

.superInput {
    background: floralwhite;
    border-radius: 5px;
    margin: 10px;
    outline: none;
    color: orangered;
}

.errorInput {
    border: 3px solid red;
    background: floralwhite;
    border-radius: 5px;
    outline: none;
    margin: 10px;
}

.error {
    color: red;
}