.label {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox {
    appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: rgba(27, 253, 156, 0.1);
    border: 1px solid rgba(27, 253, 156, 0.4);
    border-radius: 5px;
}

.checkbox:checked {
    appearance: none;
    background: url('./img/pngwing.com.png');
    background-size: 20px;
}

.checkbox:focus {
    outline: 2px solid #1BFD9C;
}