.default {
    background: green;
    color: lime;
    outline: none;
}

.red {
    background: darkred;
    color: indianred;
}

.button {
    font-weight: bold;
    margin: 5px;
    outline: none;
}