.greeting {
    display: flex;
    align-items: flex-start;
}

.input {
    font-family: inherit;
    width: 300px;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.input:focus {
    border: 2px solid darkgreen;
    outline: none;
}

.error {
    margin: 10px;
    border: 2px solid red;
    outline: none;
}

.errorText {
    margin-left: 10px;
    font-size: x-small;
    color: red;
    height: 20px;
}

.totalUsers {
    font-weight: bold;
    font-size: medium;
    margin: 10px;
}

