.greeting {
    display: flex;
    align-items: flex-start;
    margin: 10px;
}

.input {
    font-family: inherit;
    width: 250px;
    border: 0;
    border-bottom: 2px solid rgba(27, 253, 156, 0.5);
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-right: 10px;
}

.input:focus {
    outline: none;
    border: 2px solid #1BFD9C;
    font-family: inherit;
    width: 246px;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-right: 10px;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.error {
    outline: none;
    border: 2px solid red;
    font-family: inherit;
    width: 246px;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-right: 10px;
    box-shadow: inset 0 0 10px rgba(238, 18, 18, 0.6), 0 0 9px 3px rgba(152, 35, 35, 0.3);
}

.errorText {
    margin-left: 10px;
    margin-top: 5px;
    font-size: small;
    color: red;
    height: 20px;
}

.totalUsers {
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

